{% extends 'administrator/adm_base.html' %}

{% block content %}
<div class="container-fluid bg-light">
    <div class="card mb-4 mt-4">
        <div class="card-header bg-primary text-white">
            <h5>Add Character Certificate</h5>
            <a href="{% url 'charactercertificate' %}" class="btn btn-light">Add New</a>
        </div>
        <div class="card-body">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}      
            <form method="POST" class="p-3 mb-2 text-dark">
                <fieldset class="border p-2">
                    <legend class="w-auto" class="font-weight-bold"></legend>
                    {% csrf_token %}
                    <div class="col">
                        <label for="Student" class="font-weight-bold">Student: </label>
                        {{form.Student}}
                    </div>
                    </br>
                    <div class="col">
                        <label for="Category" class="font-weight-bold">Category: </label>
                        {{form.Category}}
                    </div>
                    </br>
                    <div class="col">
                        <label for="Description" class="font-weight-bold">Description: </label>
                        {{form.Description}}
                    </div>
                    </br>
                    <div class="col">
                        <label for="Awarded_on" class="font-weight-bold">Awarded On(mm/dd/yyyy): </label>
                        {{form.Awarded_on}}
                    </div>
                    </br>
                    <div class="col">
                        <label for="Awarded_by" class="font-weight-bold">Awarded By: </label>
                        {{form.Awarded_by}}
                    </div>
                    </br>
                </fieldset>
                </br>
                <button type = 'Submit' class="btn btn-primary">Add</button>
            </form>  
        </div>
    </div>
</div>
{% endblock %}
